@model EntityLayer.Concrete.Category
@{
    ViewBag.Title = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("ID")
    @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control" })
    <br />
    @Html.Label("KATEGORİ ADI")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryName)
    <br />
    @Html.Label("AÇIKLAMA")
    @Html.TextBoxFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.CategoryDescription)

    <br />
    <button class="btn btn-info">KAYDET</button>
</form>

